@model BrightIdeas.Models.RegisterViewModel

@{
    ViewData["Title"] = "Login/Registration";
}
<h1>Please Log In</h1>
<h3>If you're new to the site, please register below</h3>
<div class="regPage">
    <h3>Login</h3>
    <p style="color: red">@ViewBag.loginError</p>
    <form asp-controller="User" asp-action="Login" method="POST">
        Email: <input type='text' name='Email'><br>
        <br>
        Password: <input type='text' name='Password'><br>
        <br>
        <input type="submit" value="Login" class="button">
    </form>
</div>

<div class="regPage">    
    <h3>Register</h3>
    <p style="color: red">@ViewBag.existsError</p>
    <form asp-controller="User" asp-action="Register" method="POST">
        
        <span asp-validation-for="Name"></span><br>
        <label asp-for="Name"></label><br>
        <input asp-for="Name"><br>
        <br>

        <span asp-validation-for="Alias"></span><br>
        <label asp-for="Alias"></label><br>
        <input asp-for="Alias"><br>
        <br>

        <span asp-validation-for="Email"></span><br>
        <label asp-for="Email"></label><br>
        <input asp-for="Email"><br>
        <br>

        <span asp-validation-for="Password"></span><br>
        <label asp-for="Password"></label><br>
        <input type="password" asp-for="Password"><br>
        <h4> *Password should be at least 8 characters</h4>
        <span asp-validation-for="PWConfirm"></span><br>
        <label asp-for="PWConfirm"></label><br>
        <input type = "password" asp-for="PWConfirm"><br>
        <br>

        <input type="submit" value="Register" class="button">
    </form>
    <br>
</div>
